{% for domain in dehydrated_domains | dict2items -%}
{% if domain.value -%}
{{ domain.value is string | ternary(domain.value, domain.value | join(' ')) }} > {{ domain.key }}
{% else -%}
{{ domain.key }}
{% endif %}
{% endfor %}
